<table mat-table [dataSource]="vehicleDataList" class="data-table">
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef>License Plate</th>
      <td mat-cell *matCellDef="let element">{{ element.placa }}</td>
    </ng-container>
  
    <ng-container matColumnDef="data_posicao">
      <th mat-header-cell *matHeaderCellDef>Registered Date</th>
      <td mat-cell *matCellDef="let element">{{ element.data_posicao | date }}</td>
    </ng-container>
  
    <ng-container matColumnDef="velocidade">
      <th mat-header-cell *matHeaderCellDef>Speed</th>
      <td mat-cell *matCellDef="let element">{{ element.velocidade }}</td>
    </ng-container>
  
    <!-- Adicione mais colunas conforme necessário -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
