<section class="index">
    <section class="index__jumbotron">
        <h1 class="title">
            Find My Car: interactive solutions for car telemetry
        </h1>
        <p>
            Use the below button to get started
        </p>
        <button mat-raised-button (click)="navigate(routes.DASHBOARD)">
            Get Started
            <mat-icon aria-hidden="false" aria-label="Car Icon" fontIcon="directions_car"></mat-icon>
        </button>
    </section>
    <section class="index__info">
        <section class="index__row">
                <section class="info__group">
                    <h2>
                        Find cars easily
                    </h2>
                    <p>
                        This plataform is an all-in-one solution that finds cars from localiza.
                        Just kidding, is just a dummy website for a coding challenge.
                    </p>
                </section>
                <section class="info__group">
                    <h2>
                       Responsive
                    </h2>
                    <p>
                        This platform also adapts for different screen sizes and devices.
                        You may try it with another device!
                    </p>
                </section>
                <section class="info__group">
                    <h2>
                        Made with angular
                    </h2>
                    <p>
                        This website uses angular as foundation. Made with typescript, angular is 
                        one of the biggest frameworks for front-end development.
                    </p>
                </section>
        </section>
        <section class="index__row">
                <button mat-flat-button color="accent" class="button button--link" (click)="navigate(routes.ABOUT)">
                    Additional Information
                </button>
        </section>
</section>
