<section *ngIf="dataList">
  <table mat-table [dataSource]="dataList" class="table">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column | header }}</th>
      <td (click)="onRowClick(element)" class="table__cell" mat-cell *matCellDef="let element">{{ getElementData(element, column) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="table__row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
