@import './../../../../../styles/globals.scss';
@import './../../../../../styles/colors.scss';

.wrapper {
    overflow-y: scroll;
    max-height: calc(100% - 80px);
}

.table {
    width: 100%;
    border-bottom: 1px $primary-divider solid;
    overflow: scroll;

    .table__row {
        cursor: pointer;
        transition: .2s;
        position: relative;

        &:hover {
            transition: .2s;
            background-color: rgba(0,0,0,0.1);
        }
    }
}

@media screen and (max-width: $medium-device-breakpoint) {
    .wrapper {
        overflow-y: scroll;
        overflow-x: scroll;
    }
}
