// Primary Colors - Green
$primary-color:      #8bc34a; 
$dark-primary-color: #558b2f; 
$light-primary-color:#c5e1a5; 

// Accent Colors - Amber
$accent-color:       #ffc107; 
$light-accent-color: #ffe082;
$dark-accent-color:  #ff8f00;

// General Usage Colors
$white:              #ffffff;
$black:              #000000;
$primary-text:       #212121;
$secondary-text:     #757575;
$primary-divider:    #BDBDBD;

// Additional Colors
$snackbar-color:     #1976D2;
$icon-color:         #FFC107; 
$alert-bubble-color: #E91E63; 