// Primary Colors - Green
$primary-color:      #4CAF50; 
$dark-primary-color: #388E3C; 
$light-primary-color:#C8E6C9; 

// Accent Colors - Orange
$accent-color:       #f57c00; 
$light-accent-color: #ffb74d;

// General Usage Colors
$white:              #ffffff;
$black:              #000000;
$primary-text:       #212121;
$secondary-text:     #757575;
$primary-divider:    #BDBDBD;

// Additional Colors
$snackbar-color:     #1976D2;
$icon-color:         #FFC107; 
$alert-bubble-color: #E91E63; 