@import './../../../styles/colors.scss';
@import './../../../styles/globals.scss';

.dashboard {
    height: calc(100vh - 115px);

    .dashboard__grid {
        display: flex;
        height: 100%;
        flex-direction: row;

        .dashboard__tile {
            height: 100%;
            width: 50%;

            .dashboard__form {
                background-color: rgba($light-primary-color, 0.2);
                height: 80px;
                display: flex;
            }
        }
    }

    @media screen and (max-width: $medium-device-breakpoint) {
        min-height: calc(100vh - 107px);

        .dashboard__grid {
            flex-direction: column;
    
            .dashboard__tile {
                overflow-y: scroll;
                height: 50% !important;
                width: 100%;
            }
        }
    }
}