@import './../../../../../styles/colors.scss';
@import './../../../../../styles/globals.scss';

.header {
    position: fixed;
    z-index: 20;
    border-top: 5px solid $dark-primary-color;
    box-shadow: $shadow--linear;

    .header__title {
        color: $white;
        font-family: $montserrat;
        font-weight: 700;
    }
}