<form [formGroup]="form" (ngSubmit)="filter()" class="form">
  <mat-form-field appearance="outline" class="form__field">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <mat-form-field appearance="outline" class="form__field">
    <input matInput placeholder="Vehicle License" formControlName="license">
  </mat-form-field>

  <button mat-flat-button color="accent" type="submit" class="form__button" [disabled]="form.invalid" *ngIf="!isFiltered else clearButton">
      <mat-icon aria-hidden="false" aria-label="Car Icon" fontIcon="filter_alt"></mat-icon>
      <span>
        Filter
      </span>
  </button>
  <ng-template #clearButton>
    <button mat-flat-button color="warn" type="submit" class="form__button" (click)="clearFilter()">
      <mat-icon aria-hidden="false" aria-label="Car Icon" fontIcon="close"></mat-icon>
      <span>
        Clear
      </span>
    </button>
  </ng-template>
  
</form>